# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# Vector database
chroma_db/

# OS files
.DS_Store
Thumbs.db


# Jupyter
.ipynb_checkpoints/

# Python cache
src/__pycache__/


# Vector database
data/vector_store/